---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/layout/Header';
import { HeroVisual } from '../features/hero/HeroVisual';
import TrustMarquee from '../features/trust/TrustMarquee.astro';
import { StickyWorkflow } from '../features/how-it-works/StickyWorkflow';
import { VehicleCarousel3D } from '../features/catalog/VehicleCarousel3D';
import { LocationSection } from '../features/location/LocationSection';
import { FAQSection } from '../features/faq/FAQSection';
import { FooterCTA } from '../components/layout/FooterCTA';
import { QuoteModal } from '../features/quote/QuoteModal';
---

<Layout title="ABC Autosalvage | Sell Your Car for Cash Instantly">
  
  <Header client:load />

  <main>
    <HeroVisual client:load />
    <TrustMarquee />
    
    {/* Cinematic 3D Cover Flow Scroll */}
    <VehicleCarousel3D client:load />

    {/* The Frictionless Workflow */}
    <div id="process"><StickyWorkflow client:load /></div>

    {/* Location & Contact */}
    <LocationSection client:visible />

    {/* Frequently Asked Questions */}
    <FAQSection client:visible />
  </main>
  
  <FooterCTA client:visible />

  {/* Global Modal Layer */}
  <QuoteModal client:load />

</Layout>

